app/code/local/Aitoc/Aitcheckoutfields/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
    	<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
    		<import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
    		<complexType name="salesOrderEntity">
                <all>
                    <element name="aitoc_order_custom_data" type="typens:aitocCustomDataArray" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="aitocCustomDataArray">
            	<complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:aitocCustomData[]" />
                    </restriction>
                </complexContent>
            </complexType>
            <complexType name="aitocCustomData">
                <all>
                    <element name="label" type="xsd:string" minOccurs="0" />
                    <element name="value" type="xsd:string" minOccurs="0" />
                    <element name="code" type="xsd:string" minOccurs="0" />
                    <element name="type" type="xsd:string" minOccurs="0" />
                    <element name="rawval" type="xsd:string" minOccurs="0" />
                    <element name="id" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
    	</schema>
    </types>
</definitions>
    
<!--
/**
 * Checkout Fields Manager
 *
 * @category:    Aitoc
 * @package:     Aitoc_Aitcheckoutfields
 * @version      10.5.3
 * @license:     x8JlL6PzUPBtvXBsIIWQy9KjFdhME32yIbvID6DGHQ
 * @copyright:   Copyright (c) 2014 AITOC, Inc. (http://www.aitoc.com)
 */
-->
